/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 23, 2020, 5:00:43 PM
    Author     : AboOod_shbika99
*/

.button{
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#5b5470,#35188c);
}
.button:hover{
    -fx-background-color: linear-gradient(#af9be8,#391e85);
}